body {
  background-color: #0a192f;
  margin: 0;
  font-family: consolas, sans-serif;
}
h1{
  margin-top: 350px;

}
.opener{
  color: #8892b0;
  margin-left: 30%;
  padding: 0 0 30px 0;
}
.text-color{
  color: #8892b0;
  margin-left: 30%;
  padding: 0 0 30px 0;
}
.myname{
  color: #64ffda;
}
a{
    color: #64ffda;
    margin-left: 30%;
    font-size: 22px;
    font-weight: bolder;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid #64ffda;
    border-radius: 4px;
    text-decoration: none;
}
a:hover{
  color: red;
}
